*,
body {
    outline: 0;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
*,
.badges {
    vertical-align: baseline;
}
.floating-label label,
.hc-offcanvas-nav:not(.nav-open)::after,
.mouse-cursor,
a.disabled {
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #e8e8e8;
}
::-webkit-scrollbar-thumb:hover {
    background: #fb5496;
}
::-webkit-scrollbar-thumb {
    background-image: -webkit-linear-gradient(45deg, #ffbd84, #ff1f8e);
    background-image: -o-linear-gradient(45deg, #ffbd84, #ff1f8e);
    background-image: linear-gradient(45deg, #ffbd84, #ff1f8e);
}
::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}
::selection {
    background: rgba(166, 175, 189, 0.3);
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #6a6a8e;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 17px;
    overflow-x: hidden;
}



.header-heading .fa-icon {
    animation: 2s infinite arrowanim;
    -webkit-animation: 2s infinite arrowanim;
}
.common-heading {
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 10;
}
.common-heading h2 {
    margin-bottom: 60px;
}
.inner-heading h2 {
    margin-bottom: 30px;
}
.v-center {
    align-self: center;
    align-items: center;
}
.lnk,
button {
    position: relative;
    overflow: hidden;
}
span.circle,
span.circle2 {
    background: rgba(255, 255, 255, 0.2);
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -10%;
}
.animation,
.circle,
.circle2,
.clients-logo,
.custom-btn,
.dropdown-toggle,
.hoshd,
.hover-scale img,
.icon-set,
.isotope_item,
.link-hover,
.main-header,
.main-header.sticky,
.navbar,
.s-block,
.sticky,
.sub-menu-sec a,
a,
button,
input {
    -webkit-transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
    -o-transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
    transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.no-shadow {
    box-shadow: none !important;
}
span.circle {
    right: -130px;
    width: 200px;
    height: 200px;
}
.lnk:hover span.circle {
    top: -10%;
    right: -80px;
}
span.circle2 {
    right: -50px;
    width: 80px;
    height: 80px;
}
.mob-nav li,
.top-header {
    position: relative;
}
.lnk:hover span.circle2 {
    top: -10%;
    right: -40px;
}
.font-15 {
    font-size: 15px;
}
