@font-face {
  font-family: protest-riot;
  src: url(../fonts/Protest_Riot/ProtestRiot-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
	background: #68c5ff3d;
}
body {
 background-color: #000;
 font-family: "Poppins", serif;
 color: #ffffff;
 position: relative;
}
html{
	scroll-behavior: smooth;
}
img{
  width: 100%;
  display: block;
}
.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.wrap{
	flex-wrap: wrap;
}
.justify-center{
	justify-content: center;
}
.col-1 {
  flex: 8.33%;
}

.col-2 {
  flex: 16.66%;
}

.col-3 {
  flex: 25%;
}

.col-4 {
  flex: 33.3%;
	width: 100%;
	max-width: 33.3%;
}

.col-5 {
  flex: 41.66%;
}

.col-6 {
  flex: 50%;
}

.col-7 {
  flex: 58.33%;
}

.col-8 {
  flex: 66.66%;
}

.col-9 {
  flex: 75%;
}

.col-10 {
  flex: 83.33%;
}

.col-11 {
  flex: 91.66%;
}

.col-12 {
  flex: 100%;
}

/* ................................. common-css ................................. */

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.shadow-text {
	text-shadow: 5px 3px 12px #9191914A;
}
.clr-pink {
	color: #68C5FF;
}
.clr-prple{
	color: #c479ff;
}
.clr-white{
	color: #fff;
}
.align-center{
  align-items: center;
}
/* font-size */
.font-32 {
	font-size: 32px !important;
}
.font-500 {
	font-weight: 400 !important;
}
.divider {
	border-bottom: 1px solid #2E2E2E;
  margin: 7em 5em;
}
.center{
  text-align: center;
}
.flex-end{
  align-self: flex-end;
}
.left-0{
  left: 0 !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.p-0{
	padding: 0px !important;
}

/* ................................. navbar css ................................. */
nav {
	padding: 30px 0px;
}
.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
}
.nav-list ul {
	display: flex;
	gap: 0px 35px;
}
.nav-list ul li {
	font-size: 16px;
	font-weight: 300;
  position: relative;
}
nav ul li::after {
	content: "";
	border-bottom: 2px solid #68C5FF;
	position: absolute;
	height: 1px;
	width: 0%;
	left: 0;
	bottom: 0;
	transition: 0.2s all linear;
}
nav ul li:hover::after {
	width: 100%;
}

/* ................................. header css ................................. */
header {
	padding: 4em 0px 0px;
	 
}
.main-head {
	font-family: protest-riot;
	font-size: 72px;
	line-height: 88px;
	position: relative;
	font-weight: 400;
}
.hand-wave {
	width: 100%;
	max-width: 117px;
	position: absolute;
	top: -15px;
	right: 2.4em;
	height: 70px;
	transform: rotate(20deg);
}
.frnt.clr-pink {
	font-family: protest-riot;
	font-weight: 400;
	line-height: 60px;
	font-size: 42px;
	margin-bottom: 10px;
}
.header-bnnr {
	width: 100%;
	max-width: 500px;
	display: block;
	margin: 0 auto;
	height: 30em;
}
header p {
	font-size: 20px;
	line-height: 32px;
}
.resume-btn {
	display: flex;
	align-items: center;
	/* background: linear-gradient(135deg, #68C5FF, #6E7FF3, #C86DD7); */
	background: linear-gradient(135deg, #68C5FFDB, #6E7FF3D1, #C86DD7D1);
	max-width: 180px;
	justify-content: center;
	padding: 8px 21px;
	border-radius: 50px;
	gap: 16px;
	font-weight: 500;
	transition: 0.3s all linear;
	margin-top: 15px;
}
.resume-btn:hover {
	background: linear-gradient(135deg, #68C5FF69, #6E7FF36E, #C86DD76B);
	transform: scale(1.04);
}
.resume-btn img {
  max-width: 18px;
}

/* ................................. about-css ................................. */
.section-pd{
  padding: 4em 0px 4em;
}
.author-img {
	max-width: 330px;
	margin: 0 auto;
}
.about p {
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
}
.heading-style{
  position: relative;
	font-family: protest-riot;
}
.back-head {
	font-family: protest-riot;
	font-size: 90px;
	font-weight: 400;
	line-height: 108px;
	color: #3677A04F;
	position: absolute;
	width: 100%;
	z-index: -1;
	top: -0.6em;
	left: -0.6em;
}
.shadow-head {
  font-family: protest-riot;
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	margin: 0px 0px 40px;
}
.col-7.pl {
	padding-left: 80px;
}
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background: linear-gradient(135deg, #68C5FF69, #6E7FF36E, #C86DD76B);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 22px;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#backToTop:hover {
  background-color: #555;
}
/* ................................. skills css ................................. */
.skill-row {
	justify-content: space-between;
	margin-top: 6em;
}
.skill-box {
	background: linear-gradient(135deg, #68C5FF69, #6E7FF36E, #C86DD76B);
	border-radius: 10px;
	text-align: center;
	width: 100%;
	max-width: 120px;
	padding: 20px 20px 15px;
	transition: 0.3s all ease;
}
.skill-box:hover {
	background: linear-gradient(135deg, #68C5FFDB, #6E7FF3D1, #C86DD7D1);
	transform: scale(1.05);
}
.skill-box:hover .skil-img {
	rotate: 0 20 0 360deg;
}
.skil-img {
	max-width: 50px;
	margin: 0 auto 12px;
	transition: 0.4s all linear;
}
.skill-box p {
	font-size: 15px;
	font-weight: 300;
}

/* ................................. certifications css ................................. */

.certify-box {
	border: 1px solid #68C5FF36;
	border-radius: 15px;
	overflow: hidden;
}
/* .certify-bg-2{
	background: linear-gradient(135deg, #68C5FF1F, #6E7FF338, #C86DD72B);
} */
.tab {
	padding: 17px 22px;
	border-bottom: 1px solid #68C5FF36;
}
.tab img {
	max-width: 75px;
}
.tab-content {
	padding: 25px 30px;
}
.year {
	font-size: 28px;
	font-weight: 600;
	line-height: 37.5px;
	color: #68C5FF;
	margin-bottom: 10px;
}
.study {
	font-size: 22px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 7px;
}
.institution {
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	color: #C479FF;
}
.location {
	font-size: 18px;
	font-weight: 400;
	line-height: 22.5px;
	text-align: right;
	margin-top: 3em;
}
.location span{
	color:#F7A51A ;
}
.certify-row {
	margin-top: 5em;
	flex-wrap: wrap;
}
.row.certify-row .col-6 {
	padding: 35px;

}

.scale-effect {
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.scale-effect::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -20px;
	right: -34px;
	background: linear-gradient(135deg, #68C5FF1F, #6E7FF338, #C86DD72B);
	height: 32px;
	width: 32px;
	border-radius: 64px;
	transform: scale(1);
	transform-origin: 50% 50%;
	transition: transform 0.5s ease-out;
}
.scale-effect:hover::before {
	transform: scale(40);
}


/* ................................. experience css ................................. */


.progress-bar {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 45px;
	position: relative;
	margin-top: 6em;
	margin-bottom: 6em;
}
.progress-bar::before {
	content: "";
	position: absolute;
	border-left: 1px solid #454545;
	left: 0;
	width: 1px;
	height: 100%;
	transition: 0.7s all linear;
}
.progress-bar::after {
	content: "";
	position: absolute;
	border-left: 1px solid #68C5FF;
	left: 0;
	top: 39px;
	width: 1px;
	height: 0%;
	transition: 0.6s all ease-in;
}
.progress-bar:hover::after{
	height: 86%; 
}
.half-progress::before{
	height: 50% !important;
}
.half-progress:hover::after{
	height: 50% !important;
}
.half-progress .experience-box::after{
	background-image: none !important;
}
.experience-box {
	background: linear-gradient(135deg, #68C5FF03, #6E7FF308, #C86DD708);
	border-radius: 25px 0px;
	padding: 40px 45px;
	position: relative;
	transition: 0.3s all linear;
	border: 1px solid #141414;
}
.experience-box::before {
	content: "";
	position: absolute;
	width: 21px;
	height: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	left: -64px;
	top: -3px;
	background-color: #fff;
	border: 8px solid #000;
	border-radius: 50%;
	z-index: 1;
	transition: 0.2s all linear;
}
.experience-box::after {
	content: "";
	position: absolute;
	background-image: url(../images/check.png);
	width: 22px;
	height: 22px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	left: -65px;
	bottom: -8px;
	border: 9px solid #000;
	border-radius: 50%;
	transition: 0.9s all linear;
	z-index: 1;
}

.experience-box h2 {
	font-size: 28px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 10px;
	color: #C379FF;
}
.experience-box h2 span {
	font-size: 20px;
	font-weight: 400;
}
.experience-box h4 {
	font-size: 20px;
	font-weight: 300;
	line-height: 29px;
	color: #F7A51A;
	margin-bottom: 15px;
}
.experience-box p {
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
}

/* ................................. projects css ................................. */

.project-tabs {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: 50px;
	margin-top: 4em;
}
.tabpr {
	padding: 12px 20px;
	cursor: pointer;
	border: none;
	background: #ddd;
	border-radius: 25px;
	transition: all 0.3s ease;
	font-weight: bold;
}
.tabpr:hover {
	background: #bbb;
	transform: scale(1.1);
}
.tabpr.active {
	background: linear-gradient(135deg, #68c5ff93, #6e80f393, #c96dd796);
	color: white;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
	justify-content: center;
}
.project-img {
	max-width: 400px;
	transition: 0.3s all linear;
}
.project-item {
	background: rgb(0, 0, 0);
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	color: #000;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.project-item::before {
	content: "";
	background-image: url(../images/eye-regular.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 11em;
	z-index: 1;
	transition: 0.4s all linear;
	opacity: 0;
	pointer-events: none;
}
.project-item:hover::before {
	opacity: 1;
}
.project-img:hover {
	transform: scale(1.1);
	opacity: 0.3;
}
.project-item.hidden {
	display: none;
}
#seeMore {
	display: none;
	/* margin-top: 15px; */
	padding: 10px 20px;
	background: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease;
	margin: 20px auto 0;
}
#seeMore:hover {
	background: #0056b3;
}
/* ................................. Contact csss ................................. */
.contact-bnnr{
	width: 650px;
	height: 650px;
}
.input-flex {
	display: flex;
	gap: 0px 20px;
	margin-bottom: 25px;
}
.input-flex label {
	font-size: 16px;
	font-weight: 300;
	color: #eaeaea;
	margin-bottom: 5px;
	display: block;
}
.input-flex input {
	border: 1px solid #68c5ff4d;
	background-color: #232323;
	color: #b7b7b7;
	font-size: 17px;
	padding: 8px 16px;
	width: 100%;
	max-width: 100%;
	display: block;
}
.input-flex textarea {
	border: 1px solid #68c5ff4d;
	background-color: #232323;
	color: #8a8a8a;
	font-size: 17px;
	padding: 8px 16px;
	width: 100%;
	max-width: 100%;
	display: block;
}
.input-width{
	width: 100% !important;
}
 input::placeholder {
  color: #727272;
}
.submit-btn {
	width: 100%;
	font-size: 17px;
	color: #fff;
	background: linear-gradient(135deg, #68C5FFB2, #6E7FF3C2, #C86DD791);
	border: none;
	transition: 0.3s all linear;
	padding: 13px 10px;
	cursor: pointer;
	border-radius: 5px;
}
.submit-btn:hover{
background: linear-gradient(135deg, #68C5FF69, #6E7FF36E, #C86DD76B);
}
.social-icons {
	width: 100%;
	max-width: 592px;
	margin: 0 auto 2em;
	padding: 0 20px;
}
.social-icons ul {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: center;
	gap: 30px;
}
.social-icons img {
	width: 100%;
	max-width: 35px;
	transition: 0.2s all linear;
}
.social-icons img:hover{
	opacity: 0.4;
	transform: scale(1.09);
}
.social-icons h5 {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
	color: #afafaf;
}

/* ------------------------------ footer css ------------------------------------- */

footer {
	background: linear-gradient(135deg, #68C5FF30, #6E7FF330, #C86DD730);
	padding: 20px 10px;
	text-align: center;
	border-top: 1px solid #575757;
}
footer p {
	font-size: 14px;
	font-weight: 300;
}


.mbl-only{
			display: none !important;
		}
/* responsive start */

@media(max-width:1256px){
	.container {
	padding: 0px 30px;
}
.header-bnnr {
	max-width: 400px;
	height: 26em;
}
.main-head {
	font-size: 60px;
	line-height: 73px;
}
.frnt.clr-pink {
	line-height: 60px;
	font-size: 38px;
}
.divider {
	margin: 5em 5em;
}
.year {
	font-size: 24px;
	line-height: 34.5px;
	margin-bottom: 7px;
}
.location {
	margin-top: 2em;
}
.shadow-head {
	font-size: 55px;
	line-height: 67px;
}
.back-head {
	font-size: 80px;
	line-height: 98px;
}
.row.certify-row .col-6 {
	padding: 23px;
}
.experience-box p {
	font-size: 18px;
	line-height: 30px;
}
.experience-box {
	background: linear-gradient(135deg, #68C5FF03, #6E7FF308, #C86DD708);
	border-radius: 20px 0px;
	padding: 30px 35px;
}
.experience-box h2 {
	font-size: 25px;
}
.about p {
	font-size: 18px;
	line-height: 30px;
}
}

@media(max-width:1024px){
.hand-wave {
	top: -15px;
	right: 1.6em;
}
.author-img {
	max-width: 292px;
}
.skil-img {
	max-width: 38px;
}
.skill-box p {
	font-size: 14px;
}
.year {
	font-size: 22px;
	line-height: 32.5px;
}
.tab img {
	max-width: 54px;
}
.tab-content {
	padding: 23px 24px;
}
.study {
	font-size: 20px;
}
.institution {
	font-size: 18px;
}
.location {
	font-size: 16px;
}
.certify-box {
	border-radius: 10px;
}
.contact-bnnr {
	width: 516px;
	height: 516px;
}
}

@media(max-width:768px){
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
			flex: 100%;
	}
	.row{
		flex-wrap: wrap;
	}
	.o1{
		order: 1;
	}
	.mbl-only{
		display: block !important;
	}
	.dktp-only{
		display: none !important;
	}
	.o2{
		order: 2;
	}
.main-head {
	width: fit-content;
	margin: 0 auto;
	font-size: 50px;
    line-height: 63px;
}
.main-head br{
	display: contents;
}
.main-head span{
	display: block;
}
.hand-wave {
	top: -15px;
	right: -1.6em;
	max-width: 89px;
	height: 58px;
}
.resume-btn {
	margin: 20px auto 10px;
}
.divider {
	margin: 3em 1em;
}
.col-7.pl {
	padding-left: 0;
}
.heading-style {
	text-align: center;
}
.back-head {
	left: 0px;
}
.back-head {
	font-size: 69px;
	line-height: 87px;
}
.shadow-head {
	font-size: 51px;
	line-height: 60px;
}
.author-img {
	max-width: 292px;
	display: block;
	margin: 0 auto 28px;
}
.section-pd {
	padding: 2em 0px 0em;
}
.skill-row {
	justify-content: center;
	margin-top: 3em;
	gap: 34px;
}
.certify-row {
	margin-top: 0em;
}
.progress-bar {
	padding: 0px;
	margin-top: 1em;
	margin-bottom: 3em;
}
.progress-bar::before {
	display: none;
}
.experience-box::before {
	display: none;
}
.experience-box::after {
	display: none;
}
.progress-bar::after{
	display: none;
}
.experience-box h2 {
	font-size: 21px;
	line-height: 31px;
}
.experience-box h4 {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 11px;
}
.experience-box {
	border-radius: 15px 0px;
	padding: 24px 23px;
}
.experience-box p {
	font-size: 17px;
	line-height: 27px;
}
.contact-bnnr {
	margin: 0 auto;
}
form {
	margin-bottom: 50px;
}
.nav-list ul li {
	font-size: 15px;
}
.nav-list ul {
	display: flex;
	gap: 0px 29px;
}
header .col-5 {
	text-align: center;
}
header {
	padding: 2em 0px 0px;
}
}

@media(max-width:560px){
	.main-head {
	width: fit-content;
	margin: 0 auto;
	font-size: 42px;
	line-height: 52px;
}
.frnt.clr-pink {
	line-height: 41px;
	font-size: 32px;
	margin: 9px auto;
}
header p {
	font-size: 16px;
	line-height: 26px;
}
.header-bnnr {
	max-width: 300px;
	height: 18em;
}
.resume-btn {
	margin: 20px auto 10px;
	font-size: 14px;
	padding: 7px 20px;
	max-width: 167px;
}
.author-img {
	max-width: 244px;
}
nav {
	display: none;
}
.about p {
	font-size: 16px;
	line-height: 27px;
}
.shadow-head {
	font-size: 44px;
	line-height: 54px;
}
.back-head {
	font-size: 60px;
	line-height: 80px;
}
.skill-box {
	border-radius: 6px;
	max-width: 106px;
	padding: 15px 15px 10px;
}
.row.certify-row .col-6 {
	padding: 10px 0px;
}
.year {
	font-size: 20px;
	line-height: 30.5px;
}
.study {
	font-size: 18px;
	line-height: 29px;
}
.institution {
	font-size: 16px;
}
.tab-content {
	padding: 16px 19px;
}
.experience-box p {
	font-size: 16px;
	line-height: 26px;
}
.experience-box h2 {
	font-size: 20px;
	line-height: 30px;
}
.progress-bar {
	margin-bottom: 2em;
}
.project-tabs {
	margin-top: 2em;
	flex-wrap: wrap;
}
.tabpr {
	padding: 10px 23px;
	border-radius: 12px;
}
.contact-bnnr {
	width: fit-content;
	height: 400px;
}
.input-flex input {
	font-size: 16px;
}
.input-flex label {
	font-size: 15px;
}
.social-icons img {
	max-width: 28px;
}
.hand-wave {
	top: -15px;
	right: -1.7em;
}
.hand-wave {
	right: -1.5em;
	max-width: 79px;
	height: 50px;
}
.input-flex {
	gap: 22px 20px;
	margin-bottom: 25px;
	flex-wrap: wrap;
}
}

@media(max-width:430px){
	.contact-bnnr {
	height: 376px;
}
	.full-scale .scale-effect::before {
	transform: scale(40);
}
header .col-5 {
	text-align: left;
}
.container {
	padding: 0px 20px;
}
.main-head {
	margin: 0 0;
}.resume-btn {
	margin: 20px 0 10px;
}
.header-bnnr {
	max-width: 250px;
	height: 16em;
}
#backToTop {
	padding: 8px 11px;
	font-size: 18px;
}
.input-flex textarea {
	font-size: 14px;
}
.input-flex input {
	font-size: 14px;
}
.input-flex label {
	font-size: 14px;
}
}

@media (max-width: 375px) {
  .shadow-head {
    font-size: 40px;
    line-height: 50px;
  }
	.back-head {
	font-size: 50px;
	line-height: 70px;
}
.study {
	font-size: 16px;
	line-height: 29px;
}
}
@media (max-width: 350px) {
  .contact-bnnr {
	height: 323px;
}
}
